@model Biblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Editar Prestamo";
    var lectores = ViewBag.Lectores;
    var libros = ViewBag.Libros;
}

<h1>Editar prestamo</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LibroId" class="control-label"></label>
                <select asp-for="LibroId" class="form-control">
                    <option value="-1">Seleccione un libro</option>
                    @foreach (var item in libros)
                    {
                        if (item.Id == Model.Id)
                        {
                            <option value="@item.Id" selected> @item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select> 
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectorId" class="control-label"></label>
                <select asp-for="LectorId" class="form-control">
                    <option value="-1">Seleccione un libro</option>
                    @foreach (var item in lectores)
                    {
                        if (item.Id == Model.Id)
                        {
                            <option value="@item.Id" selected> @item.Nombre @item.Apellido</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombre @item.Apellido</option>
                        }
                    }
                </select>
                </select> 
                <span asp-validation-for="LectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaPrestamo" class="control-label"></label>
                <input asp-for="DiaPrestamo" class="form-control" />
                <span asp-validation-for="DiaPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDevolucion" class="control-label"></label>
                <input asp-for="DiaDevolucion" class="form-control" />
                <span asp-validation-for="DiaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
